<!DOCTYPE html>
<html lang="en">
<head window.location.replace("https://https://hossana-gofer-meda-mkc.onrender.com/feedPage") >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment section</title>
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png?v=20260721" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg?v=20260721" />
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=20260721" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=20260721" />
    <meta name="apple-mobile-web-app-title" content="G.M MKC" />
    <link rel="manifest" href="/favicon/site.webmanifest?v=20260721" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
     integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/comment.css">
</head>
<body>
<%  if( Comments && Comments.length > 0) {   %>
        <%  Comments.forEach(singleComment => {  %>
                <div class="comment-box">
                    <p> <%= singleComment.Comment %> </p>    <%#  i put the users comment here   %>
                    <div class="footer"  data-id="<%= singleComment._id %>">

                        <span>
                            <%= singleComment.createdAt.toDateString() %>      <%# make my date & time more simple %>
                        </span> 
                        
                        <button type="button" class="like-btn" data-id="<%= singleComment._id.toString() %>" onclick="likeCasualPost(event)">
                            <i class="fa-regular fa-heart"></i>
                            <span><%= singleComment.Likes || 0 %> Likes</span>
                        </button>
                    </div>

                </div>
        <%  })  %>
<% } else {  %>
    <p>No comments yet. Be the first to comment</p>
 <% }  %>

    <form action="/comment/createComment/<%= postIds %>" method="post">  <%# make this section position fixed %>
        <input name="comment" id="comment"   placeholder="write your comment..."></input>
        <input type="submit" value="comment">
    </form>

    <script type="text/javascript" src="/commentMain.js"></script>

</body>
</html>