<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Membership Management</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/member.css">
</head>
<body>
  <header>
    <div class="logo-area">
        <img src="/mkc-logo.jpg" class="logo" alt="">
        <h2>G/M MKC Member Management</h2>
    </div>

    <nav>
        <a href="/">
            <i class="fa-solid fa-house"></i>
            Home
        </a>

        <a href="/register/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>
    </nav>
</header>

  <div class="search">

    <input
        id="searchInput"
        type="text"
        placeholder="Search member by name...">

    <button onclick="searchMember()">
        <i class="fa-solid fa-magnifying-glass"></i>
        Search
    </button>

  </div>

  <div class="container">

    <h1>G/M/MKC Membership Management</h1>

    <form action="/memberList/addMember" method="post" id="memberForm">

      <input type="text" name="fullName" id="name" placeholder="Full Name" required>

      <input type="date" name="age" min="0" id="age" placeholder="Age" required>

      <select id="sex" name="gender" required>
        <option value="">Select Gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>

      <input type="text" minlength="10" maxlength="10" name="phone" id="phone" placeholder="Phone Number" required>

      <input type="text" name="sector" id="sector" placeholder="Sector" required>

      <button type="submit">
        <i class="fa-solid fa-user-plus"></i>
        Add Member
      </button>

    </form>

    <div class="table-container">

      <table>

        <thead>
          <tr>
            <th style="background: green;">Name</th>
            <th style="background: green;">Age</th>
            <th style="background: green;">Gender</th>
            <th style="background: green;">Phone</th>
            <th style="background: green;">Sector</th>
            <th style="background: green;">Remove Member</th>
          </tr>
        </thead>

        <tbody id="memberList">
          <% members.forEach(list=> { %>
          <tr class="memberList" data-id="<%= list._id%>">
            <td> <%= list.memFullName.toUpperCase() %> </td>
            <td> <%= list.age %> </td>
            <td> <%= list.memSex %> </td>
            <td> <%= list.memPhone %> </td>
            <td> <%= list.memSector.toUpperCase() %> </td>
            <td class="trash">
              <button class="trashBtn"><i class="fa-solid fa-trash"></i>Delete</button> 
            </td>   
<%# This sign is for ejs template comment we used %>
          </tr>
          <% }) %>
        </tbody>

      </table>
     
    </div>

    <div class="amount">
      <p>Total Members</p>
      <h2><%= amount %></h2>
    </div>
    
  </div>

  <script type="text/javascript"  src="/allMemberMain.js"></script>

</body>
</html>