<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title> Under 18 Youth Membership Management</title>
  <link rel="stylesheet" href="/under18.css">
</head>
<body>
  <div class="search">
    <input id="searchInput" name="search" type="text" placeholder="Search by name">
    <button id="searchHere" onclick="searchMember()" >Search</button>
  </div>
  <div class="container">

    <h1>G/M/MKC Youth Management < 18</h1>

    <form action="/youth/addYouthMember" method="post" id="memberForm">

      <input type="text" name="fullName" id="name" placeholder="Full Name" required>

      <input type="date" name="birthDate" min="0" id="age" placeholder="Age" required>

      <select id="sex" name="gender" required>
        <option value="">Select Gender</option>
        <option>Male</option>
        <option>Female</option>
      </select>

      <input type="text" minlength="10" maxlength="10" name="phone" id="phone" placeholder="Phone Number" required>

      <button type="submit">Add Member</button>

    </form>

    <div class="table-container">

      <table>
        <caption class="headU">Age < 18</caption>
        <thead>
          <tr>
            <th style="background: green;">Name</th>
            <th style="background: green;">Age</th>
            <th style="background: green;">Gender</th>
            <th style="background: green;">Phone</th>
            <th style="background: green;">Remove Member</th>
          </tr>
        </thead>

        <tbody id="youthList" class="youthForm">
         <% under18Youth.forEach(listU18=>{  %>
            <tr class="memberList" data-id="<%= listU18._id%>">
              <td> <%= listU18.youthFullName.toUpperCase() %> </td>
              <td> <%= listU18.calculatedAge %> </td>
              <td> <%= listU18.youthGender %> </td>
              <td> <%= listU18.youthPhone %> </td>
              <td class="trash"><button class="trashBtn">Delete</button></td>   
            </tr>
        <%  }) %>
          
        </tbody>

      </table>

      </div>
        <div class="amount">
          <p class="amountLabel">TOTAL Youth Under 18</p>
          <p class="totalNum"> <%= amountUnder %></p>
      </div>
      <div class="next">
        <p>Press the <strong>button</strong> to find those youth age is above 18</p>
        <a href="/youth/above18" target="above_18" style="text-decoration: none;"> <button type="button"> Above 18 </button> </a>
      </div>
      
    </div>
    
    
  </div>

  <script src="/under18Main.js"></script>

</body>
</html>